.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dropTop {
  0% {
    transform: translateY(100%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

.header_bottom {
  border-bottom: 2px solid darkgreen;
}

.navbar-brand span {
  color: darkgreen;
}

.nav-logo {
  height: 4em;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover {
  color: darkgreen;
}

.overlay {
  position: fixed;
  background-color: #00000090;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  padding: 2em;
}

.popUp {
  background-image: url('../public/images/popup-img.jpeg');
  min-height: 40em;
  animation: dropTop .3s linear;
  
}

.info_section {
  background-color: darkgreen;
}

.slider_section {
  background-image: url('../public/images/Upscales.ai_1708607629643.jpeg');
  padding: 4em 6em;
}

.vision .slider_section {
  background-image: url('../public/images/vision-img.jpeg');
}



.slider_section .detail-box {
  min-width: fit-content;
}

.slider_section .detail-box a {
  background-color: rgb(169, 52, 52);
  border: 1px solid rgb(169, 52, 52);
}

.slider_section .detail-box a:hover {
  color: rgb(169, 52, 52);
}

.detail-box {
  background-color: #d1ffe3;
  padding: 2em
}

.slider_section .detail-box h1, h2 {
  color: darkgreen;
}

.slider_section .detail-box p {
  color: darkgreen;
}

.feature_section .container .box.active {
  background-color: rgb(169, 52, 52);
}

.feature_section .container .box:hover{
  background-color: rgb(169, 52, 52);
}
.feature_section .feature_container .box .img-box svg {
  fill: darkgreen;
}

.feature_section .feature_container .box .img-box svg path {
  fill: darkgreen;
}

.feature_section .feature_container .box .name {
  color: darkgreen;
}

.feature_section .feature_container .box:hover .name {
  color: white;
}

.feature_section .feature_container .box.active .name {
  color: white;
}

.about_section .detail-box a {
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.about_section .detail-box a:hover {
  color: darkgreen;
}

.service_section {
  background-image: url('../public/images/crane.jpeg');
  background-size: cover;
}

.service_section h2 {
  color: white;
}

.service_section .box {
  background-color: white;
}

.service_section .box:hover {
  background-color: rgb(169, 52, 52);
}

.service_section .box:hover .detail-box {
  background-color: rgb(169, 52, 52);
}

.service_section .btn-box a {
  background-color: rgb(169, 52, 52);
  border: 1px solid rgb(169, 52, 52);
}

.service_section .btn-box a:hover {
  background-color: white;
  color: rgb(169, 52, 52);
}

.service_section .detail-box {
  background-color: white;
}

.professional_section.about {
  background-color: #d1ffe3;
}

.professional_section .detail-box h2 {
  color: darkgreen;
}

.professional_section.ethics {
  background-color: #d1ffe3;
}

.professional_section.ethics h3 {
  color: darkgreen;
  font-weight: bold;
}

@media (max-width: 500px) {
  .slider_section {
    padding: 1em;
  }
  
}